#mainWindow {
     /*-fx-background-image: url("main.jpg");
     -fx-background-size: stretch;   */
}

.stackpane {
    -fx-background-color: white;
    -fx-border-style: dotted;
    -fx-border-radius: 2px;
    -fx-padding: 7px;
}

.popup {
	-fx-background-color: linear-gradient(#cc33ff, #0000cc);
    -fx-background-radius: 15px;
	-fx-padding: 5px;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.red { -fx-fill: red; }