#mainWindow {
     /*-fx-background-image: url("main.jpg");
     -fx-background-size: stretch;   */
}

.stackpane {
    -fx-background-color: white;
    -fx-border-style: dotted;
    -fx-border-radius: 2px;
    -fx-padding: 7px;
}