.textRed {
	-fx-fill: red;
	-fx-font: 15px Serif;	
}

.textWhite {
	-fx-fill: white;
	-fx-font: 15px Serif;
	-fx-font-weight: bold;
}
.textBlue { 
	-fx-fill: blue;
	-fx-font: 15px Serif;
	-fx-font-weight: bold;
}

.textBlack { 
	-fx-fill: black;
	-fx-font: 15px Serif;
}

.textBlackToPurple { 
	-fx-font: 10px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, black 0%, purple 50%);
}
