/* @@author A0125419H */
/* Note: Affects all scroll panes */
.scroll-pane {
}

.scroll-pane > .viewport { /* Needed to color scroll pane's view port */
   -fx-background-color: #e7e7e7;
}

.text-field {
    -fx-prompt-text-fill: #2d3956;
}
.text-field:focused {
}

/* Bound to fx:id */
#main {
	-fx-background-color: #616a7f;
}

#dateLabel {
	-fx-text-fill: #e7e7e7; 
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bold;
    -fx-font-family: 'Montserrat';
}

#categoryLabel {
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Montserrat';
}

#dragBar {
	-fx-background-color: #2d3956;
}

#notification {
	-fx-text-fill: #e7e7e7;
	-fx-font-weight: bold;
}

/* Switchable styles */

.inputNormal {
	-fx-background-color: #e7e7e7;
	-fx-text-fill: #2d3956;
}

.inputError {
  -fx-outer-border: red;
  -fx-body-color: #e7e7e7;
  -fx-background-color: 
       -fx-outer-border, 
       -fx-body-color;
  -fx-background-insets: 0, 2;
  -fx-background-radius: 2px, 0px;
}

.prompt {
	-fx-padding: 6px;
	-fx-background-color: #2d3956, #e7e7e7;
    -fx-background-insets: 0px, 4px;
    -fx-text-fill: #2d3956;
}

.promptSelect {
	-fx-padding: 6px;
	-fx-background-color: #2d3956, #2d3956;
    -fx-background-insets: 0px, 4px;
    -fx-text-fill: #e7e7e7;
}

.textCategory { 
	-fx-font-size: 12px;
	-fx-fill: #e7e7e7;
}

.textDefault { 
	-fx-fill: #e7e7e7;
}

/* Boxes */
.categoryBox {
	-fx-background-color: #455372;
}

.defaultBox {
	-fx-background-color: #2d3956;
}

.highlightBox {
	-fx-background-color: #234187;

}

/* Pagination */
.pagination .pagination-control {
    -fx-background-color: #e7e7e7;    
}
.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, #e7e7e7, #2d3956, #e7e7e7, #e7e7e7;
}
 
.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: transparent, #e7e7e7, #2d3956, #e7e7e7, #2d3956;
}
 
.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #e7e7e7, #2d3956;
}

.helpSelector {
	-fx-padding: 5px;
	-fx-background-color: #2d3956;
}

