#main {
	-fx-background-color:
        linear-gradient(#ffff99, #FFFFFF);
}

/* Note: Affects all scroll panes */
.scroll-pane {
    -fx-background-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-padding: 2px;
    -fx-background-radius: 5px, 5px;
}

.scroll-pane > .viewport { /* Needed to color scroll pane's view port */
   -fx-background-color: white;
}

.prompt {
	-fx-padding: 2px;
	-fx-background-color:
        linear-gradient(#ffff99, #b3ffb3),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #b3ffb3 50%);
    -fx-background-radius: 5px;
    -fx-background-insets: 0px, 1px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.whiteBox {
	-fx-background-color: 
	 	linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -50%, radius 200%, #FFFFFF 50%, #EEEEEE 50%);
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(  gaussian  , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 3 );
}

.numberIcon {
	-fx-background-color: 
        linear-gradient(#ffd65b, #f0ff35),
        linear-gradient(#ffef84, #f0ff35),
        linear-gradient(#ffea6a, #f0ff35),
        linear-gradient(#ffe657 0%, #f8c202 50%, #f0ff35 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0)); /*alpha */
    -fx-background-radius: 30px;
    -fx-background-insets: 0px,1px,2px,3px,0px;
    -fx-padding: 2px;
    -fx-effect: dropshadow(  gaussian  , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 3 );
}

#timeLabel {
		-fx-background-color: 
        linear-gradient(#ffe657 0%, #ffff99 50%, #f0ff35 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
         -fx-background-radius: 15px;
}

#dateLabel {
		-fx-background-color: 
		 linear-gradient(#f0ff35, #b3ffb3),
         radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #b3ffb3 50%);
    -fx-background-insets: 0px,2px;
    -fx-padding: 2px;
    -fx-font-weight: bold;
}

#weekLabel {
	-fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
	
}

/*Note: Affects all Tab Panes / Tabs */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:73px;
}

.tab{
    -fx-background-insets: 0 1 0 1;
}

.tab-pane .tab:selected
{
    -fx-background-color: #b3ffb3;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #3c3c3c;
}

.textRed {
	-fx-fill: red;
	-fx-font: 15px Serif;	
}

.textWhite {
	-fx-fill: white;
	-fx-font: 15px Serif;
	-fx-font-weight: bold;
}
.textBlue { 
	-fx-fill: blue;
	-fx-font: 15px Serif;
	-fx-font-weight: bold;
}

.textBlack { 
	-fx-fill: black;
	-fx-font: 15px Serif;
}

.textBlackToPurple { 
	-fx-font: 10px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, black 0%, purple 50%);
}


