/*Note: Affects all Tab Panes / Tabs */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:60px;
}

.tab{
    -fx-background-insets: 0 1 0 1;
}

.tab-pane .tab:selected
{
    -fx-background-color: #b3ffb3;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #3c3c3c;
}