/* @@author A0125419H */
/* Note: Affects all scroll panes */
.scroll-pane {
}

.scroll-pane > .viewport { /* Needed to color scroll pane's view port */
   -fx-background-color: #ebf4fb;
}

/* Bound to fx:id */
#main {
	-fx-background-color: #bbdaef;
}

#dateLabel {
	-fx-text-fill: #206ba4; 
    -fx-font-smoothing-type: gray;
    -fx-font-weight: bold;
    -fx-font-family: 'Montserrat';
}

#categoryLabel {
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Montserrat';
}

#dragBar {
	-fx-background-color: #206ba4;
}

#expiredIcon {
	-fx-text-fill: white;
	-fx-background-color: red;
	-fx-background-radius: 15px;
	-fx-padding: 2px;
	-fx-font-family: 'Montserrat';
}

/* Switchable styles */
.inputNormal {
	-fx-background-color: #ebf4fb;
	-fx-text-fill: #206ba4;
}

.inputError {
  -fx-outer-border: red;
  -fx-body-color: #ebf4fb;
  -fx-background-color: 
       -fx-outer-border, 
       -fx-body-color;
  -fx-background-insets: 0, 2;
  -fx-background-radius: 2px, 0px;
}

.prompt {
	-fx-padding: 2px;
	-fx-background-color: #ebf4fb;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px, 1px;
    -fx-text-fill: #206ba4;
}

.promptSelect {
	-fx-padding: 2px;
	-fx-background-color:#206ba4;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px, 3px;
    -fx-text-fill: #ebf4fb;
}

.textCategory { 
	-fx-font-size: 12px;
	-fx-fill: #ebf4fb;
}

.textDefault { 
	-fx-fill: #ebf4fb;
}

/* Boxes */
.categoryBox {
	-fx-background-color: #206ba4;
}

.defaultBox {
	-fx-background-color: #206ba4;
}

.highlightBox {
	-fx-background-color: #8cbadb;

}

/* Pagination */
.pagination .pagination-control {
    -fx-background-color: #ebf4fb;    
}
.pagination .pagination-control .bullet-button {
    -fx-background-color: transparent, #ebf4fb, #206ba4, #ebf4fb, #ebf4fb;
}
 
.pagination .pagination-control .bullet-button:selected {   
    -fx-background-color: transparent, #ebf4fb, #206ba4, #ebf4fb, #206ba4;
}
 
.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #ebf4fb, #206ba4;
}

.ellipse {
	-fx-padding: 5px;
	-fx-background-color: linear-gradient(#ebf4fb, #206ba4);
    -fx-background-radius: 10px;
    -fx-background-insets: 0px, 5px;
}

