/* @@author A0125419H */
/*Note: Affects all Tab Panes / Tabs */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width: 110px;
    -fx-tab-min-height: 30px;
}

.tab{
    -fx-background-color: #206ba4;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ebf4fb;
    -fx-font-size: 17px;
    -fx-font-smoothing-type: gray;
    -fx-font-family: 'Montserrat';
}

.tab-pane .tab:selected
{
    -fx-background-color: #ebf4fb;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #206ba4;
}
