/* @@author A0125419H */
/* Switchable Text styles */
/* Mostly for text objects under UiTextConfig */
/* For default objects like Labels etc, need to add StyleClass manually */
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}
.textAll {
	-fx-font-size: 14px;
	-fx-font-family: 'Montserrat';
	-fx-font-smoothing-type: gray;
}
.textRed {
	-fx-fill: red;
	-fx-font-weight: bold;
}

.textBlue { 
	-fx-fill: blue;
}

.textBlack { 
	-fx-fill: black;
}

#expiredIcon {
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-background-color: red;
	-fx-padding: 4px;
	-fx-font-family: 'Montserrat';
	-fx-font-weight: bold;
}
