/*Note: Affects all Tab Panes / Tabs */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width: 110px;
    -fx-tab-min-height: 30px;
}

.tab{
    -fx-background-color: #2d3956;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #e7e7e7;
    -fx-font-size: 17px;
    -fx-font-family: 'Montserrat';
}

.tab-pane .tab:selected
{
    -fx-background-color: #e7e7e7;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #2d3956;
}
